<a href="https://colab.research.google.com/github/LucyMariel/Lucy/blob/master/FirstINET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("App_log.csv")

<ipython-input-31-6516b20d04f8>:1: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,22,33,34,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("App_log.csv")

In [32]:
df

,log_id,process_id,function_name,process,status_name,target_datetime,reservation_no,hospital_user_id,taxi_id,taxi_driver_name,...,reads,taxi_status_name,actual_amount,evaluation,regist_datetime,person_in_charge,medical_other_equipment,oxygen_amount,nurse_necessity,stretcher_necessity
0,46249,878zyt0zgvypqd3zr3m9ueanegra9kqv,testapp.views.hospital_taxi_confirm,????,????/????,1/10/2024 11:52,629,m_akiyama@shonankamakura.or.jp,105,??????,...,"\r\n ????Liberta/ ????Liberta = ??,\r\n ????...",NaN,NaN,NaN,1/10/2024 11:52,NaN,NaN,NaN,NaN,NaN
1,50096,spndu6fdngbn4sdf5mzmyzv20ww94fsz,testapp.views.hospital_input_reserve_info,??,?????,1/31/2024 11:30,267,soudan@shinmidori.com,NaN,NaN,...,NaN,NaN,NaN,NaN,1/31/2024 11:30,????????,NaN,NaN,?,NaN
2,50097,rto3ucnonsbj10uq2bcclbbvo331zs94,testapp.views.hospital_taxi_response,??,?????/????,1/31/2024 11:31,267,soudan@shinmidori.com,T2c61Mepm5t1,????????????,...,NaN,NaN,NaN,NaN,1/31/2024 11:31,NaN,NaN,NaN,NaN,NaN
3,46252,r9o3zm7ll2gsc2vzxugj21ln1x9g8gfq,testapp.views.hospital_input_reserve_info,??,?????,1/10/2024 12:09,22,ht-msw@fureai-g.or.jp,NaN,NaN,...,NaN,NaN,NaN,NaN,1/10/2024 12:09,???????????????????,NaN,NaN,?,??
4,20672,jmheh6bcsdavuajihxdwturqjcqig68k,testapp.views.hospital_input_reserve_info,??,?????,7/6/2023 18:08,906,shien1,NaN,NaN,...,NaN,NaN,NaN,NaN,7/6/2023 18:08,?????????,??????,NaN,?,??
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49579,4324,datalostdatalostdatalost00004324,testapp.views.hospital_input_reserve_info,??,?????,11/14/2022 15:58,162,shien1,106,?????? ???,...,NaN,NaN,NaN,NaN,11/14/2022 15:58,NaN,NaN,NaN,NaN,NaN
49580,4325,datalostdatalostdatalost00004325,testapp.views.hospital_taxi_confirm,????,????/????,11/14/2022 16:18,161,shien1,106,?????? ???,...,NaN,NaN,NaN,NaN,11/14/2022 16:18,NaN,NaN,NaN,NaN,NaN
49581,4326,datalostdatalostdatalost00004326,testapp.views.hospital_taxi_confirm,????,????/????,11/14/2022 16:18,162,shien1,106,?????? ???,...,NaN,NaN,NaN,NaN,11/14/2022 16:18,NaN,NaN,NaN,NaN,NaN
49582,4327,datalostdatalostdatalost00004327,testapp.views.hospital_input_reserve_info,??,?????,11/14/2022 15:58,191,er1,106,?????? ???,...,NaN,NaN,NaN,NaN,11/14/2022 15:58,NaN,NaN,NaN,NaN,NaN
49583,4328,datalostdatalostdatalost00004328,testapp.views.hospital_taxi_confirm,????,????/????,11/14/2022 16:18,191,er1,106,?????? ???,...,NaN,NaN,NaN,NaN,11/14/2022 16:18,NaN,NaN,NaN,NaN,NaN

In [33]:
df.columns

Index(['log_id', 'process_id', 'function_name', 'process', 'status_name',
       'target_datetime', 'reservation_no', 'hospital_user_id', 'taxi_id',
       'taxi_driver_name', 'age', 'gender', 'height', 'weight', 'passenger',
       'depart_date_at', 'depart_address', 'destination_address',
       'destination_type', 'taxi_equipments', 'equipments', 'notices',
       'taxies', 'response_time', 'estimated_amount',
       'scheduled_departure_datetime', 'call_type', 'call_time', 'reads',
       'taxi_status_name', 'actual_amount', 'evaluation', 'regist_datetime',
       'person_in_charge', 'medical_other_equipment', 'oxygen_amount',
       'nurse_necessity', 'stretcher_necessity'],
      dtype='object')

In [34]:
df.dtypes

log_id                            int64
process_id                       object
function_name                    object
process                          object
status_name                      object
target_datetime                  object
reservation_no                    int64
hospital_user_id                 object
taxi_id                          object
taxi_driver_name                 object
age                              object
gender                          float64
height                           object
weight                           object
passenger                        object
depart_date_at                   object
depart_address                   object
destination_address              object
destination_type                 object
taxi_equipments                  object
equipments                       object
notices                          object
taxies                           object
response_time                    object
estimated_amount                float64
scheduled_departure_datetime     object
call_type                        object
call_time                        object
reads                            object
taxi_status_name                float64
actual_amount                   float64
evaluation                      float64
regist_datetime                  object
person_in_charge                 object
medical_other_equipment          object
oxygen_amount                   float64
nurse_necessity                  object
stretcher_necessity              object
dtype: object

In [36]:
df.loc[:, 'target_datetime'] = df.loc[:,'target_datetime'].apply(pd.to_datetime)

In [37]:
print(df.dtypes)

log_id                                   int64
process_id                              object
function_name                           object
process                                 object
status_name                             object
target_datetime                 datetime64[ns]
reservation_no                           int64
hospital_user_id                        object
taxi_id                                 object
taxi_driver_name                        object
age                                     object
gender                                 float64
height                                  object
weight                                  object
passenger                               object
depart_date_at                          object
depart_address                          object
destination_address                     object
destination_type                        object
taxi_equipments                         object
equipments                              object
notices                                 object
taxies                                  object
response_time                           object
estimated_amount                       float64
scheduled_departure_datetime            object
call_type                               object
call_time                               object
reads                                   object
taxi_status_name                       float64
actual_amount                          float64
evaluation                             float64
regist_datetime                         object
person_in_charge                        object
medical_other_equipment                 object
oxygen_amount                          float64
nurse_necessity                         object
stretcher_necessity                     object
dtype: object

In [38]:
df['target_datetime'] = pd.to_datetime(df['target_datetime'])

In [39]:
df.set_index('target_datetime', inplace=True)

In [51]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49584 entries, 2024-01-10 11:52:00 to 2022-11-14 16:18:00
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   log_id                        49584 non-null  int64
 1   process_id                    49584 non-null  object
 2   function_name                 49584 non-null  object
 3   process                       49584 non-null  object
 4   status_name                   49551 non-null  object
 5   reservation_no                49584 non-null  int64
 6   hospital_user_id              49584 non-null  object
 7   taxi_id                       44133 non-null  object
 8   taxi_driver_name              44133 non-null  object
 9   age                           4841 non-null   object
 10  gender                        4841 non-null   float64
 11  height                        4839 non-null   object
 12  weight                        4839 non-null   object
 13  passenger                     4841 non-null   object
 14  depart_date_at                4841 non-null   object
 15  depart_address                4841 non-null   object
 16  destination_address           4841 non-null   object
 17  destination_type              4806 non-null   object
 18  taxi_equipments               4121 non-null   object
 19  equipments                    271 non-null    object
 20  notices                       2579 non-null   object
 21  taxies                        4841 non-null   object
 22  response_time                 23667 non-null  object
 23  estimated_amount              23667 non-null  float64
 24  scheduled_departure_datetime  17345 non-null  object
 25  call_type                     785 non-null    object
 26  call_time                     785 non-null    object
 27  reads                         4059 non-null   object
 28  taxi_status_name              0 non-null      float64
 29  actual_amount                 122 non-null    float64
 30  evaluation                    122 non-null    float64
 31  regist_datetime               49584 non-null  object
 32  person_in_charge              4127 non-null   object
 33  medical_other_equipment       662 non-null    object
 34  oxygen_amount                 194 non-null    float64
 35  nurse_necessity               4358 non-null   object
 36  stretcher_necessity           4131 non-null   object
dtypes: float64(6), int64(2), object(29)
memory usage: 14.4+ MB
None

In [52]:
numeric_df = df.select_dtypes(include=[float, int])

In [53]:
print(numeric_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49584 entries, 2024-01-10 11:52:00 to 2022-11-14 16:18:00
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   log_id            49584 non-null  int64
 1   reservation_no    49584 non-null  int64
 2   gender            4841 non-null   float64
 3   estimated_amount  23667 non-null  float64
 4   taxi_status_name  0 non-null      float64
 5   actual_amount     122 non-null    float64
 6   evaluation        122 non-null    float64
 7   oxygen_amount     194 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 3.4 MB
None

In [54]:
monthly_mean = numeric_df.groupby(pd.Grouper(freq='M')).mean()

In [55]:
print(monthly_mean)

                       log_id  reservation_no    gender  estimated_amount  \
target_datetime
2022-04-30          21.500000      184.833333  1.000000       2800.000000
2022-05-31         181.000000       38.371841  1.000000       6319.444444
2022-06-30         373.500000       38.407407  0.960000      11117.647059
2022-07-31         538.500000       47.675676  0.765957       6866.666667
2022-08-31         782.060377       54.260377  0.682540       9125.000000
2022-09-30        1494.000000       74.241141  0.660000       3774.193548
2022-10-31        2796.000000      103.426399  0.640000       5097.982709
2022-11-30        4358.183323      171.480074  0.642384       4806.872038
2022-12-31        6120.000000      207.072009  0.536842       4810.344828
2023-01-31        7854.500000      245.578298  0.491892       6003.091190
2023-02-28        9379.500000      299.636555  0.576923       6077.064220
2023-03-31       11178.000000      359.409405  0.472103       6770.601336
2023-04-30       13454.000000      444.764582  0.553571       6797.563261
2023-05-31       15945.000000      513.933436  0.677551       6821.132075
2023-06-30       18690.000000      554.327222  0.674510       7111.883252
2023-07-31       21947.602841      536.672329  0.551495       6709.280885
2023-08-31       25598.500000      221.367069  0.500000       6300.568182
2023-09-30       29610.938659      226.954351  0.568966       6147.442327
2023-10-31       33912.000000      234.926043  0.553425       8972.589792
2023-11-30       38275.000000      289.657161  0.608000       6758.383838
2023-12-31       43078.500000      343.671756  0.579775       6581.691297
2024-01-31       47861.337671      340.851125  0.670996       6233.624454

                 taxi_status_name  actual_amount  evaluation  oxygen_amount
target_datetime
2022-04-30                    NaN            NaN         NaN            NaN
2022-05-31                    NaN    5666.666667    3.333333            NaN
2022-06-30                    NaN            NaN         NaN            NaN
2022-07-31                    NaN  128889.076923    3.923077            NaN
2022-08-31                    NaN            NaN         NaN            NaN
2022-09-30                    NaN   11595.000000    4.500000            NaN
2022-10-31                    NaN    8153.750000    4.750000       1.000000
2022-11-30                    NaN   11438.000000    4.900000       3.700000
2022-12-31                    NaN    9937.777778    4.555556       2.235294
2023-01-31                    NaN   11701.250000    4.875000       1.800000
2023-02-28                    NaN    9035.000000    5.000000       1.750000
2023-03-31                    NaN    7061.428571    5.000000       1.833333
2023-04-30                    NaN   10223.750000    4.750000       1.818182
2023-05-31                    NaN   15159.285714    4.714286       2.333333
2023-06-30                    NaN    9783.200000    4.900000       1.692308
2023-07-31                    NaN   11926.250000    4.625000       2.363636
2023-08-31                    NaN    8700.909091    4.909091       2.266667
2023-09-30                    NaN   10280.000000    5.000000       2.294118
2023-10-31                    NaN   13925.000000    5.000000       1.583333
2023-11-30                    NaN    8202.500000    5.000000       2.166667
2023-12-31                    NaN    7631.666667    4.833333       1.454545
2024-01-31                    NaN    8890.000000    5.000000       1.789474

In [56]:
monthly_count = numeric_df.groupby(pd.Grouper(freq='M')).count()

In [57]:
print(monthly_count)

                 log_id  reservation_no  gender  estimated_amount  \
target_datetime
2022-04-30           42              42       7                10
2022-05-31          277             277      50                72
2022-06-30          108             108      25                34
2022-07-31          222             222      47                45
2022-08-31          265             265      63                72
2022-09-30         1157            1157     150               465
2022-10-31         1447            1447     150               694
2022-11-30         1631            1631     151               844
2022-12-31         1847            1847     190               812
2023-01-31         1622            1622     185               647
2023-02-28         1428            1428     156               545
2023-03-31         2169            2169     233               898
2023-04-30         2383            2383     224              1067
2023-05-31         2599            2599     245              1325
2023-06-30         2891            2891     255              1439
2023-07-31         3238            3238     301              1627
2023-08-31         3814            3814     356              1760
2023-09-30         4206            4206     406              1994
2023-10-31         4097            4097     365              2116
2023-11-30         4629            4629     375              2475
2023-12-31         4978            4978     445              2436
2024-01-31         4534            4534     462              2290

                 taxi_status_name  actual_amount  evaluation  oxygen_amount
target_datetime
2022-04-30                      0              0           0              0
2022-05-31                      0              3           3              0
2022-06-30                      0              0           0              0
2022-07-31                      0             13          13              0
2022-08-31                      0              0           0              0
2022-09-30                      0              2           2              0
2022-10-31                      0              8           8              2
2022-11-30                      0             10          10             10
2022-12-31                      0              9           9             17
2023-01-31                      0              8           8              5
2023-02-28                      0              4           4              4
2023-03-31                      0              7           7              6
2023-04-30                      0              8           8             11
2023-05-31                      0              7           7              6
2023-06-30                      0             10          10             13
2023-07-31                      0              8           8             11
2023-08-31                      0             11          11             15
2023-09-30                      0              1           1             17
2023-10-31                      0              2           2             12
2023-11-30                      0              4           4             24
2023-12-31                      0              6           6             22
2024-01-31                      0              1           1             19